opencv-python==4.4.0.44
Flask==1.1.2
Werkzeug==1.0.1
Pillow==8.0.1
numpy==1.18.3
#torch==1.7.0+cu101
torch==1.7.0
torchvision==0.8.1
#torchvision==0.8.1+cu101
sklearn==0.0
scikit-learn==0.23.2
tqdm==4.51.0
matplotlib==3.3.2